.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.headerLeft {
  background-color: #fff;
  flex: 0.6;
  color: grey;
  min-width: 70px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.headerLeft > input {
  border: none;
  width: 100%;
  outline: none;
}
.headerRight {
  display: flex;
  align-items: center;
  margin-right: 10;
}
.headerRight > h4 {
  margin: 10px;
}
